views = {
  example = {
    compartment_id           = "network-compartment"
    defined_tags             = {}
    display_name             = "example-vcn"
    freeform_tags            = {}
  }
}

dns_resolvers = {
    example = {
        # N.B.:
        # "example" refers to the name of a vcn. Where you see example as a standalone 
        # definition, it is assuming that the names created for the view and resolver
        # match the name of the vcn. This is what happens when a vcn is created.
        resolver_id              = "example-vcn"
        view_id                  = "example-vcn"
	    compartment_id           = "network-compartment"
        vcn_id                   = "example-vcn"
        defined_tags             = {}
        display_name             = "example-vcn"
        freeform_tags            = {}
        scope                    = "PRIVATE"
        rules = [
            {
                action = "FORWARD"
                client_address_conditions = [
                ]
                destination_addresses = [
                "10.1.1.1",
                ]
                qname_cover_conditions = [
                "private.domain.host",
                ]
                source_endpoint_name = "example_endpoint_private_subnet"
            },
            {
                action = "FORWARD"
                client_address_conditions = [
                ]
                destination_addresses = [
                "8.8.8.8",
                ]
                qname_cover_conditions = [
                "public.domain.host",
                ]
                source_endpoint_name = "example_endpoint_public_subnet"
            },
        ]
    },
}

dns_resolver_endpoints = {
    example_endpoint_private_subnet = {
        endpoint_type      = "VNIC"
        forwarding_address = "172.16.1.252" #IP for the dns resolver endpoint in a local subnet
        is_forwarding      = "true"
        is_listening       = "false"
        listening_address  = ""
	    name               = "example_endpoint_private_subnet"
        vcn_display_name   = "example-vcn"
        resolver_id        = "example-vcn"
        subnet_id          = "private-subnet"
        nsg_ids            = []  
    },
    example_endpoint_public_subnet = {
        endpoint_type      = "VNIC"
        forwarding_address = "172.16.0.252" #IP for the dns resolver endpoint in a local subnet
        is_forwarding      = "true"
        is_listening       = "false"
        listening_address  = ""
	    name               = "example_endpoint_public_subnet"
        vcn_display_name   = "example-vcn"
        resolver_id        = "example-vcn"
        subnet_id          = "public-subnet"       
        nsg_ids            = []  
    },
    # example-private-subnet-listener = {
    #     compartment_id     = "network-compartment"
    #     endpoint_type      = "VNIC"
    #     forwarding_address = ""
    #     is_forwarding      = "false"
    #     is_listening       = "true"
	#     listening_address  = "172.16.1.251"
    #     name               = "example_endpoint_private_listener"
    #     vcn_display_name   = "example-vcn"
    #     resolver_id        = "example-vcn"
    #     subnet_id          = "private-subnet"
    #     nsg_ids            = []
    # },
}

tenancy_id = "ocid1.tenancy.oc1..aaaaaaaa...zzzzzzzz"
dns_compartment_id = "network-compartment"
user_ocid = "ocid1.user.oc1..aaaaaaaam...zzzzzzzz" 
private_key_path = "/path/to/private/key"
fingerprint = "8b:a3:45:2f::::37:16:24:39:00"
region = "us-ashburn-1"
