dns_resolvers = {
    example = {

        # N.B.:
        # "example" refers to the name of a vcn. Where you see example as a standalone 
        # definition, it is assuming that the names created for the view and resolver
        # match the name of the vcn. The is what happens when a vcn is created.

        resolver_id              = "example"
        view_id                  = "example"
        compartment_id           = "example-compartment"
        defined_tags             = {}
        display_name             = "example"
        freeform_tags            = {}
        scope                    = "PRIVATE"
        rules = [
            {
                action = "FORWARD"
                client_address_conditions = [
                ]
                destination_addresses = [
                "10.1.1.1",
                ]
                qname_cover_conditions = [
                "private.domain.host",
                ]
                source_endpoint_name = "example-endpoint-private-subnet"
            },
            {
                action = "FORWARD"
                client_address_conditions = [
                ]
                destination_addresses = [
                "8.8.8.8",
                ]
                qname_cover_conditions = [
                "public.domain.host",
                ]
                source_endpoint_name = "example-endpoint-public-subnet"
            },
        ]
    },
}

dns_resolver_endpoints = {
    example-private-subnet-forwarder = {
        endpoint_type      = "VNIC"
        forwarding_address = "172.21.34.252" #IP for the dns resolver endpoint in a local subnet
        is_forwarding      = "true"
        is_listening       = "false"
        name               = "example-private-subnet-forwarder"
        vcn_display_name   = "example"
        resolver_id        = "example"
        subnet_id          = "private-subnet"       
        nsg_ids            = []  
    },
    example-private-subnet-listener = {
        endpoint_type      = "VNIC"
        forwarding_address = "172.21.34.252" #IP for the dns resolver endpoint in a local subnet
        is_forwarding      = "false"
        is_listening       = "true"
        name               = "example-private-subnet-listener"
        vcn_display_name   = "example"
        resolver_id        = "example"
        subnet_id          = "private-subnet"
        nsg_ids            = []     
    },
}